#viljum ekki fylgjast með node_modules
/node_modules
#viljum ekki fylgjast með verkefna lýsingu það er niður hlaðið einusinni
/VekrefnalysingOgGogn
#ætlum ekki bæta fleiri myndir þannig ætlum ekki fylgjast með möppuni
/img
#ætlum ekki bæta fleiri myndir
/videos
#viljum ekki fylgjast með css skajli
styles.css
VideoPlayerScript-compiled.js
script-compiled.js
package.json
package-lock.json