@charset "UTF-8";

html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
}

img { /* stylelint-disable-line */
  width: 100%;
}

main { /* stylelint-disable-line */
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  @media (max-width: 500px) {
    max-width: 500px;
  }
}

a { /* stylelint-disable-line */
  color: #fff;
  text-decoration: none;
}

section { /* stylelint-disable-line */
  padding-bottom: 2em;
}

h1{ /* stylelint-disable-line */
  padding-top: 1em;
  padding-left: 0.5em;
}

.content-seperator {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.category__headder {
  font-size: 2.1em;
}

.message {
  padding-top: 40vh;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

@import "nodeScss/video";
@import "nodeScss/VideoContainer";
